target
*.iml
*.ipr
*.iws
*.ids
/out/
/data/
data-test/
.gradle
gradle.bat
build
/local/
*.log
/indexes
*.temp

#ignore thumbnails created by windows
Thumbs.db
.idea/libraries/
.idea/modules/
.idea/uiDesigner.xml
*workspace.xml
/.idea/artifacts/Gradle___angular_market___serverApp_war.xml
/.idea/artifacts/Gradle___angular_market___serverApp_war__exploded_.xml
